{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Составить Отзыв {% endblock %}</h1>

    <form method="POST" action="/content_create" >
        {{ form.csrf_token }}
        <br>
        {{ form.category.label}}
        {{ form.category }}
        <br><br>

        <p>
            {{ form.title.label }}
            {{ form.title(size=20) }}
        </p>
        {% if form.title.errors %}
            <ul class="errors">
                {% for error in form.title.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <p>
            {{ form.description.label }}
        </p>
        {{ form.description(rows=10, cols=50) }}

        {% if form.description.errors %}
            <ul class="errors">
                {% for error in form.description.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <br><br>
        <p>
            {{ form.rating.label }}
            {{ form.rating() }}
        </p>
        {% if form.rating.errors %}
            <ul class="errors">
                {% for error in form.rating.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <p>
            {{ form.recommend.label }}
            {{ form.recommend() }}
        </p>
        {% if form.recommend.errors %}
            <ul class="errors">
                {% for error in form.recommend.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <br>
        <p>
            <input type="submit" value="Отправить отзыв">
        </p>
    </form>

{% endblock %}