<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <title>Sign In/Up Form Transitions</title>
      <link rel="stylesheet" href="static/css/auth/auth.css">
  </head>

  <body>
      <form>
          <input checked="" id="signin" name="action" type="radio" value="signin">
          <label for="signin">Login</label>
          <input id="signup" name="action" type="radio" value="signup">
          <label for="signup">Register</label>
          <div id="wrapper">
              <div id="arrow"></div>
              <input id="email" placeholder="Email" type="text">
              <input id="pass" placeholder="Password" type="password">
              <input id="repass" placeholder="Repeat password" type="password">
          </div>
          <button type="submit">
          <span>
            <br>
            Login
            <br>
            Register
          </span>
          </button>
      </form>
  <script type="text/javascript">

  </script>

  </body>

</html>
